<form id="newItem" (ngSubmit)="add(item)" #newItemForm="ngForm">
    <div class="form-group">

      <label for="name">Name: </label>
      <input matInput type="text" id="name" [(ngModel)]="item.name" name="name"  placeholder="Item name" required #name="ngModel">
      <div  *ngIf="!name.valid && (name.dirty || name.touched)">
        <div *ngIf="name.errors.required">
          Name is required.
        </div>
      </div>
      <br />
      
      <label for="description">Description: </label>
      <input matInput type="text" id="description" [(ngModel)]="item.description" name="description" placeholder="Description"><br />

      <label for="price">Price</label>
      <input matInput type="number" id="price"  [(ngModel)]="item.price" name="price" placeholder="Price" required #price="ngModel" min="0.01">      
      <div *ngIf="!price.valid && (price.dirty ||price.touched)">
        <div *ngIf="price.errors.required">
          Price is required!
        </div>
      </div>
      <br />

      <label for="AmountOfStock">Amount of stock: </label>
      <input matInput type="number" id="amountOfStock" [(ngModel)]="item.amountOfStock" name="amountOfStock" placeholder="Amount of stock" required #stock="ngModel" min="1">
      <div *ngIf="!stock.valid && (stock.dirty || stock.touched)">
        <div *ngIf="stock.errors.required">
          Stock is required!
        </div>
        <div>{{stock.errors}}</div>
        <div *ngIf="stock.errors.min">
          Stock amount must be a minimum of 1!
        </div>
      </div>
      <br />

      <button type="submit" [disabled]="!newItemForm.form.valid">Submit</button>
    </div>
  </form>