<div id="itemnew">
  <h1>Create a new item: </h1>
  <p>(form is template-driven)</p>
  <form id="newItem" (ngSubmit)="add(item)" #newItemForm="ngForm">
    <div class="form-group">
      <label for="name">Name: </label>
      <input matInput type="text" id="name" [(ngModel)]="item.name" name="name" placeholder="Name:" required><br />
      
      <label for="description">Description: </label>
      <input type="text" id="description" [(ngModel)]="item.description" name="description"><br />

      <label for="price">Price</label>
      <input type="number" id="price"  [(ngModel)]="item.price" name="price" required><br />

      <label for="AmountOfStock">Amount of stock: </label>
      <input type="number" id="amountOfStock" [(ngModel)]="item.amountOfStock" name="amountOfStock" required><br />

    </div>
    <button type="submit" [disabled]="!newItemForm.form.valid">Submit</button>
  </form>
</div>